/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li,
form,
label,
table,
tbody,
thead,
tr,
th,
td,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none !important;
}

ul li {
    list-style: none;
}

* {
    font-family: Montserrat;
}

/* Navigation bar */
#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
}

#navigation a {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.27;
    letter-spacing: normal;
    font-weight: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#navigation a.selected {
    font-weight: bold;
    color: white;
}

#navigation .logo-container {
    margin: 23.5px auto 0px 44.5px;
    display: flex;
}

#navigation .logo-container .languages {
    margin: 2px 0px 0px 40px;
    display: flex;
}

#navigation .logo-container .languages li {
    margin-right: 18px;
}

#navigation .navigation {
    display: flex;
    margin: 30px 36px 0px auto;
}

#navigation .navigation > li {
    margin: 0px 9px;
}

/* HEADER */
#header {
    background-image: url(/assets/images/bg-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header .hero-text > img {
    width: 263px;
    max-width: 263px !important;
    /* width: 280px; */
    /* height: 122px; */
}

#header .hero-text p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.95px;
    text-align: center;
    width: 472px;
    color: #ffffff;
    margin: 30px auto;
}

#header .hero-text a {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 51.8px;
    height: 25.9px;
    background-image: url(/assets/icons/arrow-landing.svg);
    display: block;
    background-repeat: no-repeat;
}

/* TODAY */
#today {
    margin: 90px 45px 0px;
}

#today .today-title {
    display: flex;
}

#today .today-title h2,
#upcomming .upcomming-title h2,
#faq .faq-title h2,
#past .past-title h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;
    margin-right: auto;
}

#today .today-title p {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.27;
    color: #f77062;
    text-align: right;
}

#today .today-title p span {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.3;
    color: #cccccc;
}

#today .classes,
#past .classes {
    margin-top: 30px;
}

#today .classes .class {
    background-image: url(/assets/images/class-01.png);
    width: 307px;
    height: 218px;
    display: flex;
    object-fit: fill;
    position: relative;
    flex-flow: column;
    display: flex;
    cursor: pointer;
}

#today .class-title,
#upcomming .class-title,
#past .class-title {
    display: flex;
    margin: 85px 20px auto;
}

#today .class-title h2,
#upcomming .class-title h2,
#past .class-title h2 {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    font-family: Montserrat;
    font-size: 8px;
    font-weight: bold;
    line-height: 1.25;
    color: white;
}

#today .class-title span,
#upcomming .class-title span,
#past .class-title span {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.27;
}

#today .classes .class button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#today .classes .class-title button p {
    font-family: Montserrat;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    width: 65px;
    margin-right: 5px;
}

#today .classes button img {
    width: 32px;
    height: 32px;
}

#today .membership,
#upcomming .membership {
    position: absolute;
    right: 0px;
    bottom: -24px;
}

#today .membership h3,
#upcomming .membership h3 {
    font-weight: bold;
    line-height: 1.25;
    color: #cccccc;
    text-align: right;
    text-transform: uppercase;
    font-size: 8px;
}

#today .membership h3 .org,
#upcomming .membership h3 .org {
    color: #f77062;
}

#today .class-date {
    margin: 20px;
    display: flex;
    align-items: center;
}

#today .class-date p {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    font-family: Montserrat;
    font-size: 8px;
    font-weight: bold;
    line-height: 1.25;
    color: white;
    margin-left: 5px;
}

#today .live-now {
    width: 90px;
    height: 20px;
    background-color: white;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

/* Upcomming */

#upcomming {
    margin-top: 85px;
}

#upcomming .upcomming-title {
    margin: 0px 45px 20px;
}

#upcomming .classes,
#past .classes {
    padding: 64px 0px 54px 54px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
}

#upcomming .class,
#past .class {
    width: 155px;
    height: 218px;
    object-fit: contain;
    background-position: center;
    background-image: url(/assets/images/class-01.png);
    display: flex;
    position: relative;
    cursor: pointer;
    /* margin: 64px 0px; */
}

#upcomming .date,
#past .date {
    display: flex;
    position: absolute;
    top: -41px;
    flex-flow: column;
}

#upcomming .date p,
#past .date p {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.27;
    color: #000000;
}

#upcomming .date span,
#past .date span {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
    color: #999999;
}

#upcomming .class-title,
#past .class-title {
    margin: 94px 7px 0px;
}

#upcomming > a,
#past > button,
#footer .subscribe > button {
    width: 97px;
    height: 20px;
    box-shadow: 0 0 15px 0 rgba(247, 112, 98, 0.75);
    background-color: #f77062;
    border: none;
    font-size: 8px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px auto 0px;
    cursor: pointer;
}

#upcomming > a img,
#past > button img,
#footer .subscribe > button img {
    width: 8px;
    height: 8px;
    margin-left: 7px;
}

/* FAQ */
#faq {
    margin: 50px 45px 0px;
}

.faq-container {
    display: flex;
    margin-top: 30px;
    flex-flow: column;
}

.faq {
    flex: 50%;
    height: fit-content;
    /* margin: 0px 22.5px; */
}

.faq-container > .faq-row:last-child {
    margin-top: 45px;
}

.faq-row {
    display: flex;
    /* justify-content: space-evenly; */
}

.faq-row > div:last-child {
    margin-left: 45px;
}

.faq h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.27;
    color: #000000;
}

.faq p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.27;
    text-align: left;
    color: #000000;
}

/* Past class */
#past {
    margin: 70px 45px;
}

#past .classes {
    padding: 30px 0px 3px;
    background-color: transparent;
    box-shadow: none;
}

#past .class {
    opacity: 0.35;
}

/* Footer */
#footer {
    height: 199px;
    box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    display: flex;
}

#footer .subscribe {
    display: flex;
    flex-flow: column;
    margin: 45px 60px 45px 45px;
    width: 192px;
}

#footer .subscribe h3,
#footer .social h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.23;
    color: #000000;
}

#footer .subscribe p {
    margin-top: 2px;
    font-size: 10px;
    line-height: 1.3;
    color: #000000;
}

#footer .subscribe input {
    border: none;
    border-bottom: 1px solid #b7b7b9;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.3;
    color: #b7b7b9;
    outline: none;
    margin-top: 4px;
}

#footer .subscribe button {
    width: 115px;
    height: 20px;
    margin: 14px 0px;
}

#footer .social {
    display: flex;
    flex-flow: column;
    margin-top: 45px;
}

#footer .social-brands {
    margin-top: 10px;
    display: flex;
}

#footer .social-brands > a {
    margin: 0px 20px;
}

#footer .social-brands > a:first-child {
    margin-left: 0px;
}

#footer .social-brands > a:last-child {
    margin-right: 0px;
}

#footer .copyright {
    margin: 45px 45px 45px auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

#footer .logo img {
    height: 56px;
}

#footer .copyright p {
    font-size: 10px;
    line-height: 1.3;
    color: #000000;
    margin: 12px 0px 6px;
}

#footer .copyright a {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #f77062;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#footer .copyright > a:last-child img {
    width: 4.5px;
    height: 9px;
    margin-left: 5.5px;
}
